# IDEA
.idea
*.iml

# Node.js
node_modules

# Eclipse
.settings
.classpath
.project
bin

# Project Distribution
coverage
reports
out
target
dist

# Project Development cryptogen && configtxgen tmp
scripts/crypto-config-dev/crypto-config
#scripts/configtx-config-dev/

# Log File
*.log

